body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: 40px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
}

.board-square {
  background-color: #212126;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-circle {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-color: white;
}

.board-label {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  top: 0;
}

.red-piece {
  background-color: #e06c75
}

.yellow-piece {
  background-color: #e5c07b;
}
